
<div class="layout-wrapper">

	<div id="layout-topbar">
		<a class="menu-button" href="#">
		   <i class="fa fa-bars"></i>
	   </a>

	   <a class="logo" routerLink="/reports">
		   <img alt="logo" src="/assets/images/logo-neurohcker-1.png">
	   </a>

	   <ul class="topbar-menu" *ngIf="authService.isLogged()" >
		   <!--
		   <li>
			   <a routerLink="/reports" routerLinkActive="active">Reports</a>
		   </li>
		   <li>
			   <a routerLink="/recruiters" routerLinkActive="active">Recruiters</a>
		   </li>-->
		   <li> Welcome, {{authService.currentUser().name}} </li>
		   <li>
			   <a routerLink="/logout" (click)="logout()">Logout</a>
		   </li>
	   </ul>
	</div>

	<router-outlet></router-outlet>
</div>
